
mat-toolbar {
  background-color: var(--falu-red);
  position: relative;
  z-index: 5;
}

.content {
  background-color: var(--snow);
  color: black;
}

mat-sidenav{
  background-color: var(--falu-red) !important;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
  background-color: #faf6f6ff !important;
}
